html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: #fff url(background.jpg) 0 0 no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #999;
  font-size: 56px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
}

p {
  padding-top: 280px;
  text-align: center;
  color: #333;
}

a {
  text-align: center;
  display: block;
  margin: 16px auto;
  width: 180px;
  color: #fff;
  text-decoration: none;
  border: 4px dashed #fff;
  padding: calc((180px - 16pt) / 2) 0;
  transition: all .8s;
  font-size: 16pt;
  line-height: 1em;
  border-radius: 50%;
}

a:hover {
  background: #fff;
  color: #000;
}
